/Campus_GPT/crawler/src/crawler/__pycache__/
/Campus_GPT/crawler/src/crawler/output/
/Campus_GPT/crawler/src/crawler/processed/
/Campus_GPT/crawler/src/crawler/spiders/__pycache__/
/Campus_GPT/crawler/.scrapy/