# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]
*$py.class

# IPython/Jupyter checkpoints
.ipynb_checkpoints/

# macOS Finder files
.DS_Store

# Virtual environments (if you ever create one inside the repo)
venv/
.env
.venv/


# IDE/editor folders (add yours if you use another editor)
.vscode/
.idea/

# Streamlit local config
src/crawler/streamlit/config.toml

# Poetry lock (if you prefer to ignore it; otherwise keep it checked in)
# poetry.lock

# Data files
*.jsonl




# Models and Weights
*.gguf
*.bin
*.pt
*.pth
*.safetensors
lora_model/
outputs/
wandb/

# Vector DB
chroma_db/
